<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:select="http://www.w3.org/1999/xlink">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<div>
    <form method="post" th:action="@{~/email/sent}">
        <p>odbiorca</p>
            <select name="email" th:label="email">
                <option th:value="none"> --</option>
                <option th:each="user:${users}" th:value="${user.getEmail()}" th:text="${user.getName()}">
                    ---
                </option>
            </select>
        <br/>
        <p>temat</p>
        <input type="text" id="subject" name="subject" placeholder="subject"/>
        <br/>
        <textarea title="message" name="message" rows="3" cols="30"></textarea>
        <input name="submit" type="submit" value="wyślij"/>
        <input type="hidden"
               name="${_csrf.parameterName}"
               value="${_csrf.token}"/>
    </form>
</div>
</body>
</html>