<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>UserOverview</title>
</head>
<body>
<table>
    <tr th:each="tradeSession:${userSessions}">
        <a th:href="@{~/tradingSession/{sessionID}(sessionID=${tradeSession.getId()})}"
           th:text="'sesja '+ ${tradeSession.getId()} + ' ' + ${tradeSession.getCreationDate()}"></a>
        <br/>
    </tr>
</table>
<form>
    <button th:formaction="@{~/tradingSession/newTradingSession}">nowa sesja</button>
</form>
<br/>
<br/>
<div th:include="sendEmail"></div>
</body>
</html>