<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:object-fit="http://www.w3.org/1999/xhtml">
<head>
    <script type="text/javascript"
            src="https://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<div th:include="upload"></div>
<form>
    <button th:formaction="@{~/user/toOverview}">lista twoich sesji</button>
</form>
<table>
    <tr th:each="screen:${screenshots}">
        <img th:src="${screen.getPath()}" style="object-fit: contain"/>
        <td th:each="trade:${screen.getTradeList()}">
            <p th:text="${trade.getId().toString()}"></p>
        </td>
        <br/>
    </tr>
</table>
</body>
</html>